# App Settings
PORT=
DEBUGGER=

# Service Settings
STOP_USERVERIFY=
STOP_IG_DOWNLOAD=

# OxyLabs Proxy Settings
OXYLAB_PROXY_PROTOCOL=
OXYLAB_PROXY_HOST=
OXYLAB_PROXY_USERNAME=
OXYLAB_PROXY_PASSWORD=
OXYLAB_PROXY_PORT=

# Bright Data Proxy Settings
BRIGHTDATA_PROXY_PROTOCOL=
BRIGHTDATA_PROXY_HOST=
BRIGHTDATA_PROXY_USERNAME=
BRIGHTDATA_PROXY_PASSWORD=
BRIGHTDATA_PROXY_PORT=

# Jwt Settings
JWT_SECRET_KEY=
JWT_USERVERIFY_EXPIRES_IN=
JWT_RESPONSE_EXPIRES_IN=

# Redis Settings
REDIS_REST_URL=
REDIS_REST_TOKEN=